<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminClaimsListController</servlet-name>
        <servlet-class>controller.AdminClaimsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSubmitClaim</servlet-name>
        <servlet-class>controller.ShowSubmitClaim</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>ShowSubmitPayment</servlet-name>
        <servlet-class>controller.ShowSubmitPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminClaimsListController</servlet-name>
        <url-pattern>/AdminClaimsListController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminMembersListController</servlet-name>
        <servlet-class>controller.AdminMembersListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminMembersListController</servlet-name>
        <url-pattern>/AdminMembersListController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOutstandingBalanceController</servlet-name>
        <servlet-class>controller.AdminOutstandingBalanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOutstandingBalanceController</servlet-name>
        <url-pattern>/AdminOutstandingBalanceController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminProvisionalMembersController</servlet-name>
        <servlet-class>controller.AdminProvisionalMembersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProvisionalMembersController</servlet-name>
        <url-pattern>/AdminProvisionalMembersController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTurnoverReportsController</servlet-name>
        <servlet-class>controller.AdminTurnoverReportsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTurnoverReportsController</servlet-name>
        <url-pattern>/AdminTurnoverReportsController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticateUser</servlet-name>
        <servlet-class>controller.AuthenticateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateUser</servlet-name>
        <url-pattern>/AuthenticateUser.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegisterUser.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckCookie</servlet-name>
        <servlet-class>controller.CheckCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckCookie</servlet-name>
        <url-pattern>/checkcookie.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowMemberInfo</servlet-name>
        <servlet-class>controller.ShowClaimsAndPayments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowMemberInfo</servlet-name>
        <url-pattern>/ShowMemberInfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPaymentController</servlet-name>
        <url-pattern>/SubmitPaymentController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitPaymentController</servlet-name>
        <servlet-class>controller.SubmitPaymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitClaimController</servlet-name>
        <url-pattern>/SubmitClaimController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitClaimController</servlet-name>
        <servlet-class>controller.SubmitClaimController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowSubmitClaim</servlet-name>
        <url-pattern>/ShowSubmitClaim.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSubmitPayment</servlet-name>
        <url-pattern>/ShowSubmitPayment.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
